@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --color-bg: #252735;
    --color-font: #E3E3E5;
    --color-bg-accent: #343648;
    --black: rgba(0, 0, 0, 0.8);
    --white: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-font);
    background: var(--color-bg);
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*-------------------------------loader-----------------------------------------*/
.loader{
    background-color: #252735;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: 999;
}

.loader img {
    width: 10%;
}


/*-------------------------------Header----------------------------------------*/
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    padding-bottom: 4em;
}

header h1 {
    font-weight: 700;
    
}

header nav {
    margin-right: 2em;
}
header nav a {
    font-weight: 600;
    text-decoration: none;
    color: var(--color-font);
}

header nav a:hover {
    color:rgba(227, 227, 229, .7);
}

/*-------------------------------ChatList----------------------------------------*/

.chatlist::before {
    content: "";
    position: absolute;
    top: 8em;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, var(--color-bg), transparent);
  }

.chatlist::-webkit-scrollbar {
    display: none;
}

.chatlist{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    overflow: scroll;
    overflow-x:hidden;
}

.chat {
    max-width: 30em;

}
.list {
    list-style: none;
    line-height: 3em;
}

/*--------------------login------------------------------------*/
.login{
    display: flex;
    justify-content: center;
}
#idImg{
    width: 20%;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
#idImg:hover {
    transform: scale(1.05);
}
/*----------------------action---------------------------------*/

.action {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.input {
   padding: .5em;
   margin: .5em 0;
   border: 0;
   background-color: var(--color-bg);
   color: var(--color-font);
   border-bottom: 1px solid var(--color-font);
}

.input:focus{
    outline: none;
}
label{
    font-size: .8em;
}
/*------------------botones--------------------*/

.botones {
    display: flex;
    gap: 2em;
}

.btn {
    margin-top: .5em;
    padding: .4em 2em;
    border-radius: 10px;
    border: 0;
    color: var(--color-font);
    background: var(--color-bg-accent);
    font-weight: 500;
}

/*-----------------------modal------------------------*/

.open-modal, .close-modal {
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--color-font);
  }
  .close-modal {
    color: var(--color-bg);
    font-size: 1em;
  }

  .modal { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    cursor: pointer;
    visibility: unset;
    opacity: 1;
    transition: all 0.35s ease-in;
  }

  .modal-dialog {
    position: relative;
    width: 600px;
    max-height: 80vh;
    border-radius: 5px;
    background: var( --color-font);
    color: var(--color-bg);
    overflow: hidden;
    cursor: default;
  }

  .modal-header {
    padding: 1em;
    display: flex;
    margin-bottom: 2em;
  }

  .modal-content {
    padding: 1em;
    margin-bottom: 3em;
    text-align: center;
  }

  .socials {
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
  }
  i {
    color: var(--color-bg-accent);
    font-size: 2em;
  }

  .modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }
   
  .modal.is-visible {
    visibility: visible;
    opacity: 1;
  }

  /*----------------media queries-----------------*/

@media screen and (max-width: 600px) {
    .titulo {
        font-size: 1em;
        padding: .5em;
    }

    .chatlist {
        height: 35vh;
    }
    .chatlist::before{
        top: 7em;
    }
    .chat {
        max-width: 17em;
    }

    .list {
        line-height: 2.5em;
    }
}